

*{
  font-family: "Spinnaker", sans-serif;
}

.navbar-scrolled{
  background-color: #fff;
  box-shadow: 0 3px 10px rgba(0,0,0, 15);
}

p.card-text{
color: #fff;
}

.info{
  background-color: black;
}

.info.div.card-group{
  background-color: white;
}

div.card-group {
  background-color: black;
}

div.card-body{
  background-color: black;
}

i{
  color: #fff;
}


.contacto{
  background-color: black;
  color: #fff;
}

.destacados{
  background-color: black;
  color: #fff;
}

.info{
  background-color: black;
  color: white;
}